<h1><%= @place["name"] %></h1>

<% if session[:user_id] %>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-secondary btn-lg btn-block">New Post</a>
</p>

<div class="container mt-4">
  <div class="row">
    <% @entries.each do |entry| %>
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= entry["title"] %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h6>
            <% if entry.uploaded_image.attached? %>
              <%= image_tag entry.uploaded_image, class: "card-img-top img-fluid" %>
            <% end %>
            <p class="card-text"><%= entry["description"] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% else %>
  <p>Please log in to see your posts.</p>
  <%= link_to 'Login', "/login" %>
<% end %>
